body {
    background-color: var(--secondary);
    color: var(--primary);
}

.vigniette {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(174, 174, 192, 0.4), -10px -10px 30px rgba(255, 255, 255);
}

/* espace entre header et main  */
.space {
    padding-top: 1rem;
}