h1 {
    color: blue;
}

li {
    color: red;
}

#PhraseIntro {
    color: green;
}

.paragraphe {
    background-color: bisque;
    width: 50%;
}

.paragraphe:nth-last-of-type(even) {
    background-color: orange;
}

.photo {
    float: right;
    width: 150px; /* Définissez une largeur */
    height: 150px; /* et une hauteur identiques pour un cercle parfait */
    object-fit: cover; /* Assure que l'image remplit bien le cercle sans être déformée */
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ajoute une petite ombre pour un meilleur rendu */
}

tr:nth-last-of-type(even) {
    background-color: brown;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
