:root {
    --primary: #EE971F;
    --secondary: #f0f0f3;
}

.img_header {
    border-radius: 50%;
    border: 3px solid var(--primary);
    width: 100px;          
    height: 100px;         
    object-fit: cover;     
    border-radius: 50%;     
    border: 3px solid white;
}

.contener_header {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    padding: 0.6rem;
}

.boutton_header {
    display: flex;              /* Ajout important */
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    margin-left: auto;
}

.btn-header {
    display: inline-flex;       /* Ajout important */
    justify-content: center;
    align-items: center;
    height: 4rem;
    min-width: 5rem;            /* min-width au lieu de width */
    padding: 0 20px;            /* Ajout de padding */
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 10px 10px 30px rgb(174, 174, 192, 0.4), -10px -10px 30px rgba(255, 255, 255);
    transition: background-color 0.3s ease;
}